{%extends 'blog/base.html'%}
{%load widget_tweaks%}
{%block content%}
<section class="form-container">
    <article id="create-post-container">
        <h1 style="font-size: xx-large;">New Post</h1>
        <form action="" id="login-form" method="POST" enctype="multipart/form-data">
            {%csrf_token%}
            <div class="field-wrapper">
                {% render_field form.header_image.errors %}
                {% render_field form.header_image_tag %}
                {% render_field form.header_image required=true %}
            </div>
            <div class="field-wrapper">
                {% render_field form.title.errors %}
                {% render_field form.title.label_tag %}
                {% render_field form.title placeholder='title...'%}
            </div>
            <div class="field-wrapper">
                {% render_field form.body.errors %}
                {% render_field form.body.label_tag %}
                {% render_field form.body placeholder='content...' minlength="300"%}
            </div>
            <input type="submit" value="Post">
        </form>
    </article>
</section>
{%endblock content%}