{%extends 'index/base.html'%}
{%load static%}
{%load widget_tweaks%}
{%block content%}
{%include 'index/navbar.html'%}
<section class="form-container">
    <article id="edit-container">
        <h1 style="font-size: xx-large;">Edit {{user}}</h1>
        <form action="" id="edit-form" method="POST">
            {%csrf_token%}
            <div class="field-wrapper">
                {% render_field form.username.errors %}
                {% render_field form.username placeholder='username...'%}
            </div>
            <div class="field-wrapper">
                {% render_field form.email.errors %}
                {% render_field form.email placeholder='email...'%}
            </div>
            <div class="field-wrapper">
                {% render_field form.first_name.errors %}
                {% render_field form.first_name placeholder='lastname...'%}
            </div>
            <div class="field-wrapper">
                {% render_field form.last_name.errors %}
                {% render_field form.last_name placeholder='lastname...'%}
            </div>
            <input type="submit" value="Update">
        </form>
    </article>
</section>
{%endblock content%}