{%extends 'index/base.html'%}
{%load static%}
{%load widget_tweaks%}
{%block content%}
<section class="form-container">
    <article id="login-container" style="min-height: 0;">
        <h1 style="font-size: xx-large;">Confirm Password Reset</h1>
        <form action="" id="login-form" method="POST">
            {%csrf_token%}
            <div class="field-wrapper" style="box-shadow: none;">
                {% render_field form.new_password1.errors %}
                {% render_field form.new_password1.label_tag %}
                {% render_field form.new_password1 placeholder='password...' style="width: 70%;" %}
            </div>
            <div class="field-wrapper" style="box-shadow: none;">
                {% render_field form.new_password2.errors %}
                {% render_field form.new_password2.label_tag %}
                {% render_field form.new_password2 placeholder='confirm password...' style="width: 70%;"%}
            </div>
            <input type="submit" value="Reset Password" style="width: 50%;">
        </form>
        
    </article>
</section>
{%endblock content%}