{%extends 'index/base.html'%}
{%load static%}
{%load widget_tweaks%}
{%block content%}
<section class="form-container">
    <article id="login-container" style="min-height: 0;">
        <h1 style="font-size: xx-large;">Password Reset</h1>
        <form action="" id="login-form" method="POST">
            {%csrf_token%}
            <div class="field-wrapper" style="box-shadow: none;">
                {% render_field form.email.errors %}
                {% render_field form.email.label_tag %}
                {% render_field form.email placeholder='email...'%}
            </div>
            <input type="submit" value="Request Password Reset" style="width: 50%;">
        </form>
        
    </article>
</section>
{%endblock content%}