{%extends 'index/base.html'%}
{%block content%}
{%include 'index/navbar.html'%}
<section class="all-users">
    {%for user in page_obj%}
    <article>
        {%if request.user.is_staff%}
        <a href="{%url 'profile' user.id %}" class="username">{{user.username}}</a>
        {%else%}
        <span class="username" style="cursor: default;">{{user.username}}</span>
        {%endif%}
        {%if user.is_staff%}
        <p class="status-staff"><b>Status:</b> Staff member</p>
        {%else%}
        <p class="status-normal"><b>Status:</b> Normal member</p>
        {%endif%}
        <p><b>Joined on: </b>{{user.date_joined}}</p>
    </article>
    {%endfor%}
</section>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1" id="first">first</a>
            <a href="?page={{ page_obj.previous_page_number }}"><i class="fas fa-arrow-left"></i></a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}"><i class="fas fa-arrow-right"></i></a>
            <a href="?page={{ page_obj.paginator.num_pages }}" id="last">last</a>
        {% endif %}
    </span>
</div>
{%endblock content%}